<a href="https://colab.research.google.com/github/jianfeiZhao/Python_FromBasicToAdvance/blob/master/ImproveCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
ls = []

for x in range(6):
  y=x if x>=3 else -x     ###
  ls.append(y)

print(ls)

[0, -1, -2, 3, 4, 5]

In [22]:
ls = [1,2,'3',4,5.0,[6]]

sum([i for i in ls if type(i) in [int,float]])  # filter and sum

12.0

In [7]:
level = input('choose from [A ~ Z] >> ')

if level in ('A','D','F'):    ###
  print('pass')
else:
  print('not pass!')

choose from [A ~ Z] >> R
not pass!

In [12]:
ls, dic, st = [1,2], {}, ''

if not ls:            ### not not empty
  ls.append(1)
if not dic:
  dic['1'] = 1
if not st:
  st += '1'

print(ls, dic, st)

[1, 2] {'1': 1} 1

In [19]:
A,B,C,D,E = [i for i in range(5)]

if any([A>3,B>3,C>3,D>3,E>3]):    ### or -> any; and -> all
  print('any pass')
  
if all([A>3,B>3,C>3,D>3,E>3]):    ### or -> any; and -> all
  print('all pass')

any pass

In [25]:
seasons = ['spring', 'summer', 'autumn', 'winter']
dic = {}

for i, s in enumerate(seasons):     ###
  dic[i] = s

print(dic)

{0: 'spring', 1: 'summer', 2: 'autumn', 3: 'winter'}